:root {
}

body {
    margin: 0;
    height: 96vh;
    width: 96vw;
}

#top, #bottom, #left, #right {
    background-image: url("https://i.pinimg.com/736x/12/f4/c4/12f4c407c06cd744be970959d3825472--parquet-wood-flooring.jpg");
	position: fixed;
    z-index: 1001;
	}
	#left, #right {
		top: 0; 
        bottom: 0;
		width: 2vh;
		}
		#left { 
            left: 0; 
        }
		#right { 
            right: 0; 
        }
		
	#top, #bottom {
		left: 0; 
        right: 0;
		height: 2vh;
		}
		#top { 
            top: 0; 
        }
		#bottom { 
            bottom: 0; 
        }

.button {
  border: 0;
  border-radius: 0.25rem;
  background: #1E88E5;
  color: white;
  font-family: -system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;

  z-index: 1002;
  position: absolute;
  height: 5vh;
  width: 15vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}